<tr th:each="activity:${activity}" class="item">
    <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
    <h1 class="card-title text-center"><td th:text="${activity.name}">[activity.name]</td></h1>
    <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div><div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
    <div class="container-fluid justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col">
                    <div style="text-align: center;">
                    </div>
                    <h6 class="card-text text-center">Price : <td th:text="${activity.name}">[activity.name]</td></h6>
                    <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div><div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-dark col-4" style="color: white">Add to Shopping Cart</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</tr>